[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=WishDev
GenericName=TerminalEmulator

Exec=wish-terminal-dev %U
StartupWMClass=ai.hermon.WishDev

Keywords=shell;prompt;command;commandline;cmd;

Icon=ai.hermon.WishDev

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for wishdev:// URLs.
MimeType=x-scheme-handler/wishdev;
